.miniProjects {
    height: auto;
    width: auto;
    background: #252526;
    overflow: hidden;
  
}
.projectContainer { 
    top: 5px;
    margin: 0 auto;
    display: table;
}
.miniProject {
    display: inline-block;
    padding: 10px;
    width: 300px;
    height: 200px;
    
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #9D2424;
    margin: 0 auto;
}
.title {
    font-family: "Montserrat";
    color: #ecf0f1;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    padding-top: 30px;
}
/* .circleProject {
    overflow: hidden;
} */